@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: #50586C;
  --color-secondary: #DCE2F0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}